In [41]:
import numpy as np 
import pandas as pd

In [42]:
df=pd.read_csv("D:/Machine Learning/thuc hanh/datasets/full_data.csv")

In [43]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [44]:
df.shape

(4981, 11)

In [45]:
df.info

<bound method DataFrame.info of       gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1       Male  80.0             0              1          Yes        Private
2     Female  49.0             0              0          Yes        Private
3     Female  79.0             1              0          Yes  Self-employed
4       Male  81.0             0              0          Yes        Private
...      ...   ...           ...            ...          ...            ...
4976    Male  41.0             0              0           No        Private
4977    Male  40.0             0              0          Yes        Private
4978  Female  45.0             1              0          Yes       Govt_job
4979    Male  40.0             0              0          Yes        Private
4980  Female  80.0             1              0          Yes        Private

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             105.92  32.5     never smoked       1
2             Urban             171.23  34.4           smokes       1
3             Rural             174.12  24.0     never smoked       1
4             Urban             186.21  29.0  formerly smoked       1
...             ...                ...   ...              ...     ...
4976          Rural              70.15  29.8  formerly smoked       0
4977          Urban             191.15  31.1           smokes       0
4978          Rural              95.02  31.8           smokes       0
4979          Rural              83.94  30.0           smokes       0
4980          Urban              83.75  29.1     never smoked       0

[4981 rows x 11 columns]>

In [46]:
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [47]:
# xoa cac hang ma gia tri cot smoking_status "unknow"
df.drop(df.index[(df["smoking_status"] == "Unknown")],axis=0,inplace=True)

In [48]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [50]:
# chuan hoa du lieu cac cot du lieu khong phai dang so
from sklearn.preprocessing import LabelEncoder

In [61]:
# chuan hoa gioi tinh: male:1
df['gender']=LabelEncoder().fit_transform(df['gender'])

# chuan hoa hon nhan; yes:1
df['ever_married']=LabelEncoder().fit_transform(df['ever_married'])

# chuan hoa cot loai hinhf lam viec: Govt_job:0; Private:1;Self-employed:2
df['work_type']=LabelEncoder().fit_transform(df['work_type'])

#  Urban:1 ; Rural	:0
df['Residence_type']=LabelEncoder().fit_transform(df['Residence_type'])

# formerly smoked:0; never smoked:1; smokes:2 

df['smoking_status']=LabelEncoder().fit_transform(df['smoking_status'])

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,0,1
1,1,80.0,0,1,1,1,0,105.92,32.5,1,1
2,0,49.0,0,0,1,1,1,171.23,34.4,2,1
3,0,79.0,1,0,1,2,0,174.12,24.0,1,1
4,1,81.0,0,0,1,1,1,186.21,29.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,0,0
4977,1,40.0,0,0,1,1,1,191.15,31.1,2,0
4978,0,45.0,1,0,1,0,0,95.02,31.8,2,0
4979,1,40.0,0,0,1,1,0,83.94,30.0,2,0
4980,0,80.0,1,0,1,1,1,83.75,29.1,1,0

In [60]:
# df.to_csv('D:/Machine Learning/thuc hanh/datasets/full_data(1).csv',index=False)